/* ===== ベーススタイル ===== */
body {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans", "Meiryo", sans-serif;
	background-color: #f7f7f7;
}


main {
	display: flex;
	justify-content: center; /* 横方向中央 */
	align-items: center;     /* 縦方向中央 */
	background: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 500px;
    max-width: 90%;
    margin: 60px auto; /* ヘッダー分の余白を確保 */
}

/* ===== スマホ対応 ===== */
@media (max-width: 600px) {
  header h1 {
    font-size: 1.2rem;
  }
  .logout-container h1 {
    font-size: 1.3rem;
  }
  .btn {
    width: 70vw;
  }
}

