h2 {
	text-align: center;
	margin-bottom: 25px;
}


form.content {
    max-width: 600px; /* フォーム全体の最大幅を設定 */
    width: 100%;       /* 画面幅に応じて広げる */
    margin: 0 auto;   /* 中央寄せ */
}


.controll {
	width: 100%;
    display: block;
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
	text-align: left; /* ラベルを左寄せ */
	margin-left: 50px; /* 左から50px内側に移動 */
}

input {
	margin-bottom: 9px;
	font-size: 1rem;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
	width: 80%;
	padding: 8px;
}

.required {
	color: red;
	font-size: 12px;
}

.select{
    display: flex;              /* Flexboxを有効化 */
    justify-content: center;    /* 横方向中央寄せ */
    gap: 20px;                  /* ボタンとリンクの間に余白 */
    margin-top: 20px;           /* 上に余白 */
}

.btn {
	background: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 40%;
	text-align: center;
	transition: background 0.2s, border-color 0.2s;
}

.btn:hover {
	background: #45a049;
}

ul {
  list-style: none;
}


#error-message {
	color: red;
	text-align: center;
	margin-bottom: 10px;
}
