
/* カード風コンテナ */
  .container {
    background: #ffffff;
    padding: 15px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 500px;
    max-width: 90%;
    margin: 100px auto; /* ヘッダー分の余白を確保 */
  }


h1 {
    margin-bottom: 10px;
}

p {
    margin: 8px 0;
}

.search{
	display : flex;
	padding: 17px 17px;
	border-radius: 6px;
	width : 100%;
	text-align : center;
	gap: 10px; /** 要素間の余白 */
	align-items: center; /* 垂直方向を中央揃え */
}

.search input[type="text"] {
    font-size: 1.2em;       /* 文字サイズを大きく */
    padding: 12px 16px;     /* 内側余白を広げて高さを確保 */
    width: 70%;            /* 横幅をフォームに合わせる */
    box-sizing: border-box; /* パディング込みで幅調整 */
    border-radius: 6px;     /* 角を丸く */
    border: 1px solid #ccc; /* 枠線を見やすく */
}

.search label {
    margin: 0; /* 不要な余白を削除 */
    font-weight: bold;

}

.btn-search{
	margin-top: 5px;
    background: #b0e0e6;
    color: #000;
    padding: 8px 16px;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}

.btn-search:hover {
	transform: scale(1.02);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 20px;
}

table th, table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table th {
    background: #f0f0f0;
    border-radius: 8px; /* 角を丸く */
    margin: 4px; /* 切れ目を作るための余白 */
}


/* テーブル内のリンク */
table a {
    text-decoration: none;
    background: #b8d200;
    color: #000;
    border-radius: 5px;
    padding: 5px 12px;
    display: inline-block;
    font-weight: bold;
}

table a:hover {
    background: #a5bf00;
}

/* 戻るボタン */
.back-btn {
	display: block;
	text-align: left;
	margin: 0;
	color: #ff8000;
	text-decoration: none;
}

a.all{
	color: #000080;
}

