.container {
	background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
    max-width: 90%;
    margin: 100px auto; /* ヘッダー分の余白を確保 */
}

h1 {
    margin-bottom: 20px;
  }

.logout_link {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #b8d200;
    color: #000;
    border-radius: 6px;
    font-weight: bold;
  }

.logout_link:hover {
    background-color: #a5bf00;
  }