.navigation{
	width: 15%; /* サイドバーの幅 */
	background-color: #705b67;
	position: fixed; /* 左固定 */
	top: 80px; /* ヘッダーの高さ分下げる */
	left: 0;
	height: calc(100vh - 80px); /* ヘッダーを除いた高さ */
	padding: 20px
}

ul {
  list-style: none;
}

li{
	font-size: 1.5em;
	line-height: 2;
}

.navigation a{
	color: #fdeff2;
	text-decoration: none;
}
