
  /* カード風コンテナ */
  .container {
    background: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
    max-width: 90%;
    margin: 100px auto; /* ヘッダー分の余白＋中央寄せ */
  }

h1 {
    margin-bottom: 25px;
}

  .menu a {
    text-decoration: none;
    background: #b8d200;
    color: #000;
    border-radius: 0.25em;
    padding: 1em 2em 0.8em;
    line-height: 1;
    display: block;
    font-weight: bold;
    margin: 10px auto;
    width: 200px;
  }

  .menu a:hover {
    background: #a5bf00;
  }

.back-link {
	display: block;
	text-align: left;
	margin: 0;
	color: #ff8000;
	text-decoration: none;
}

