/* カード風コンテナ */
.container {
	background: #ffffff;
	padding: 20px 10px;
	border-radius: 10px;
	box-shadow: 0 0px 0px rgba(0,0,0,0.1);
	text-align: center;
	width: 500px;
	max-width: 100%;
	margin: 100px auto; /* ヘッダー分の余白を確保 */
}

.controll{
    align-items: center; /* 縦方向中央揃え */
    gap: 10px;           /* ラベルと入力欄の間隔 */
	display: flex;
	margin-bottom: 15px;
	font-size: 1.5rem;
}

a.back{
	display: block;
	text-align: left;
	margin: 0;
	color: #ff8000;
	text-decoration: none;
}

label{
	flex: 1;
	width: 140px; /* ラベルの固定幅（調整可能） */
    text-align: center; /* ラベルを右寄せにすると見やすい */
	margin-bottom: 12px;
	display: block;
	font-weight: bold;
	margin: 0; /* 余白をリセット */
}

input{
	margin-bottom: 9px;
	height: 45px;
	width: 80vw;
	max-width: 250px;
	font-size: 1.3rem;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-sizing: border-box;
	align-items: center; /* 縦方向中央揃え */
}

.btn{
	background: #4CAF50;
	color: white;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 10px 25px;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	transition: background 0.2s, border-color 0.2s;
}

.button-group{

}