/* カード風コンテナ */
.container {
	background: #ffffff;
	padding: 20px 10px;
	border-radius: 10px;
	box-shadow: 0 0px 0px rgba(0,0,0,0.1);
	text-align: center;
	width: 500px;
	max-width: 100%;
	margin: 100px auto; /* ヘッダー分の余白を確保 */
}

