/* カード風コンテナ */
.container {
	background: #ffffff;
	padding: 20px 10px;
	border-radius: 10px;
	box-shadow: 0 0px 0px rgba(0,0,0,0.1);
	text-align: center;
	width: 500px;
	max-width: 100%;
	margin: 100px auto; /* ヘッダー分の余白を確保 */
}

.a{
		background: #4CAF50;
	color: white;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 10px 25px;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	transition: background 0.2s, border-color 0.2s;
}

.a:hover {
	background: #45a049;
	border-color: white;
}