body {
  font-family: "Hiragino Sans", "Meiryo", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  margin: 0;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
  color: #333;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}

input, select {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.radio-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

.radio-group.column {
  display: flex;
  gap: 20px;
}

.radio-item {
  display: flex;
  flex-direction: column; /* ラベルをボタンの下に */
  align-items: center;    /* 中央揃え */
}

/* ラジオボタン全体のスタイルを統一 */
input[type="radio"] {
  width: 30px;   /* 横幅 */
  height: 30px;  /* 高さ */
  accent-color: #5c81f1; /* ○の色（必要なら） */
}


.btn2 {
	background: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 25px;
	font-size: 16px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: none;
	display: block;
	width: 40%;
	text-align: center;
	transition: background 0.2s, border-color 0.2s;
}

.btn:hover {
	background: #45a049;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
.success-message {
  color: green;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: bold;
}

.select{
    display: flex;              /* Flexboxを有効化 */
    justify-content: center;    /* 横方向中央寄せ */
    gap: 20px;                  /* ボタンとリンクの間に余白 */
    margin-top: 20px;
}

.center-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-left: 10px;
}


/* スマホ対応 */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn2 {
    width: 100%;
  }
}



